
.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup__opened {
    visibility: visible;
  }
  
  .popup__content {
    background-color: white;
    max-width: 496px;
    width: 430px;
    border-radius: 16px;
    padding: 34px 36px;
    position: relative;
    max-height: 436px;
    height: 182px;
  }
  
  .popup__close-button {
    background: transparent url("../../images/close-button.svg") center no-repeat;
    height: 40px;
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;
  }
  
  .popup__title {
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 24px;
    margin-left: 28px;
  }
  
  .popup__form {
    margin-left: 28px;
    margin-right: 28px;
  }
  
  .button_disabled {
    background-color: #e6e8eb;
    color: #b6bcbf;
    cursor: not-allowed;
  }
  
  .button_enabled {
    background-color: #2f71e5;
    color: white;
  }
  
  .button_enabled:hover {
    cursor: pointer;
    background-color: #347eff;
  }
  
  .popup__switch {
    background: none;
    border: none;
    cursor: pointer;
    max-width: 224px;
    padding: 0;
    font-family: "Inter-400", Arial;
    font-size: 14px;
    color: #2f71e5;
  }