body {
    background-color: white;
  }

#root {
    /* width: 100%; */
}

.page{
    display: flex; 
    flex-direction: column;
    align-items: stretch;
    max-width: 1440px;
    margin: 0 auto;
  }