.saved {
    min-width: 320px;
    max-width: 1440px;
    background: white;
    margin: 0;
  }
  
  .saved__header {
    margin-bottom: 30px;
  }
  
  .saved__text-container {
    margin: 40px 0 40px 50px;
    min-width: 320px;
  }
  
  .saved__text-subtitle {
    font-size: 18px;
    font-family: "Roboto-400", sans-serif;
    line-height: 24px;
    color: black;
    margin: 0;
  }
  
  .saved__text-title {
    font-size: 40px;
    max-width: 530px;
    font-family: "Roboto-Slab-400", serif;
    color: black;
    line-height: 46px;
    margin: 29px 0 0;
  }
  
  .saved__text-keywords {
    font-family: "Roboto-400", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: black;
    margin: 29px 0 0;
  }
  
  .saved__text-keyword {
    font-family: "Roboto-700", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
  }
  